<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Training Results</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="mb-4">Training Results</h1>

      <div id="results-container"></div>

      <button class="btn btn-primary mt-3" onclick="fetchTrainingResults()">
        Fetch Results
      </button>
    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>
      function fetchTrainingResults() {
        // Use AJAX to fetch data from the API
        $.ajax({
          url: 'http://127.0.0.1:8000/api/v1/get-training-results/',
          method: 'GET',
          success: function (data) {
            displayResults(data)
          },
          error: function (error) {
            console.error('Error fetching training results:', error)
          },
        })
      }

      function displayResults(results) {
        // Clear previous results
        $('#results-container').empty()

        // Display results
        if (results && results.length > 0) {
          for (let result of results) {
            // Check if "training_accuracy" exists in the result
            if ('training_accuracy' in result) {
              // Append the "training_accuracy" value to the results container
              $('#results-container').append(
                '<p>' + result.training_accuracy + '</p>'
              )
            } else {
              $('#results-container').append(
                '<p>No training accuracy available for this result</p>'
              )
            }
          }
        } else {
          $('#results-container').append('<p>No results available</p>')
        }
      }
    </script>
  </body>
</html>
