cd __pycache__
mnist_model
downloaded_models
saved_model.h5
global_model.h5
myenv/
visualization/tensorboard/logs
__pycache__
logs
visualization/tensorboard/log
ml_operations1
data.txt
appcopy.py
custom_*/
data.json
.pytest_cache
report/
mlruns/
out/